<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="box">
    <!--<div class="box-header with-border">-->
        <!--<h3 class="box-title">Bordered Table</h3>-->
    <!--</div>-->
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th style="width: 10px">#</th>
                <th>用户</th>
                <th>操作</th>
                <th>时间</th>
            </tr>
            <tr th:each="details,iterStat:${details}">
                <td th:text="|${iterStat.count}.|"></td>
                <td th:text="${details.nickname}"></td>
                <td th:text="${details.content}"></td>
                <td th:text="${#dates.format(details.time,'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </table>
    </div>
    <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
    <!--<div class="box-footer clearfix">-->
        <!--<ul class="pagination pagination-sm no-margin pull-right">-->
            <!--<li><a href="#">&laquo;</a></li>-->
            <!--<li><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">&raquo;</a></li>-->
        <!--</ul>-->
    <!--</div>-->
</div>