<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会议室</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>
<!--中间内容-->
<div class="m-container-large m-padded-tb-big">

    <div class="ui stackable grid">
        <!--左边博客列表-->
        <div class="twenty wide column">
            <!--header-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">会议室</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin"> 14 </h2> 个会议室
                    </div>
                </div>
            </div>
            <!--搜索表单-->
            <div class="ui segment attached form">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field m-margin-lr-tiny" style="width: 700px">
                        <input id="title" type="text" name="title" placeholder="会议室名称" value="" style="width: 700px">
                    </div>
                    <div class="field m-margin-lr-tiny" style="width: 400px">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown" style="width: 400px" >
                                <input type="hidden" name="typeId">
                                <i class="dropdown icon"></i>
                                <div class="default text">容纳人数</div>
                                <div class="menu">
                                    <div class="item" data-value="1">0~10人</div>
                                    <div class="item" data-value="2">11~50人</div>
                                    <div class="item" data-value="3">51~100人</div>
                                    <div class="item" data-value="4">101~150人</div>
                                    <div class="item" data-value="5">150~200人</div>
                                    <div class="item" data-value="6">200人以上</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field" style="width: 200px">
                        <buttion id="clear-btn" class="ui compact button" style="width: 200px;height: 40px;">清除</buttion>
                    </div>
                    <div class="field m-margin-lr-tiny" style="width: 270px">
                        <button type="button" id="search-btn" class="ui teal basic button" style="width: 270px; height: 40px;"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
            </div>
            <!--会议室主体-->
            <div id="table-1">
                <div class="ui segment attached" th:fragment="rootList">
                    <div class="ui link cards" >
                        <div class="card" style="width: 19%" th:each="room:${rooms}">
                            <div class="image">
                                <img src="https://unsplash.it/800/600?image=1005" th:src="${room.picture}">
                            </div>
                            <div class="content">
                                <div class="header"><h3 th:text="${room.name}">会议室名称</h3></div>
                                <div class="meta">
                                    <a>好友</a>
                                </div>
                                <div class="description"><span th:text="|简介：${room.description}|">会议室简介</span></div>
                                <div class="description"><span th:text="|地址：${room.place}|">会议室地址</span></div>
                            </div>
                            <div class="extra content">
                                <span class="right floated"><button class="ui primary button">申请 </button></span>
                                <span><i class="user icon"></i> 可容纳<span th:text="${room.number}">10</span>人 </span>
                                <span th:if="${room.projector}"><i class="user icon"></i> 投影仪 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>
<!-- 对于html没有影响，对于thymeleaf有作用-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    // 在手机端的时候，设置点击事件，显示主菜单
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    //清除搜索选项
    $('#clear-btn')
        .on('click',function () {
            $('.ui.type.dropdown')
                .dropdown('clear');
            document.getElementById('title').value='';
        });
    //搜索
    $("#search-btn").click(function () {
        loaddate();
    });
    function loaddate() {
        $("#table-1").load(/*[[@{/room/search}]]*/"/room/search",{
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val()
        });
    }
</script>
</body>
</html>