<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会议发布</title>

<link rel="stylesheet" type="text/css" href="css/wui.min.css" th:href="@{/css/wui.min.css}">
<link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">

<script type="text/javascript" src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/angular.min.js" th:src="@{/js/angular.min.js}"></script>
<script type="text/javascript" src="js/wui-date.js" charset="utf-8" th:src="@{/js/wui-date.js}"></script>

</head>
<body>


<label class="block clearfix">
	<span class="block input-icon input-icon-right">
		<input type="text" style="width:60%;float:left;" class="form-control" placeholder="验证码" name="checkcode"/>
		<span style="cursor:pointer;float: right;height: 34px; width: 38%;"> <img id="image" style="width: 100%;height:100%;" src="<%=request.getContextPath() %>/image/generator" onclick="reCheckcode(this);" /></span>
	</span>
</label>

</body>
</html>