<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会议发布</title>

<link rel="stylesheet" type="text/css" href="css/wui.min.css" th:href="@{/css/wui.min.css}">
<link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">

<script type="text/javascript" src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/angular.min.js" th:src="@{/js/angular.min.js}"></script>
<script type="text/javascript" src="js/wui-date.js" charset="utf-8" th:src="@{/js/wui-date.js}"></script>

</head>
<body>

<wui-date
        format="yyyy-mm-dd hh:mm"
        placeholder="请选择或输入日期"
        id="date3"
        btns="{'ok':'确定','now':'此刻'}"
        ng-model="date3"
>
</wui-date>

<script type="text/javascript">
    var app = angular.module('app',["wui.date"]);
</script>

</body>
</html>